body{
    margin:0;
    
    overflow-y: hidden;
    
  }
  
  .loger{
    position:absolute;
    top:0%;
    left:3%;
    background-color:#752e89;
    height: 6.1rem;
    width:6.1rem;
    z-index: 400000000000;
    display:none;
    
  
  }
  .loger img{
    max-width: 100%;
    max-height: 100%;
  }
  
  .spremnik{
    
    top:0rem;
    left:0;
    z-index:500000000;
  }
  .menu {
  position: fixed;
  top:2rem;
  left:0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background-color:#752e89;
    max-width: 100%;
    font-family: 'lovelo' , sans-serif;
    width:100%;
    margin:0;
    
    
    
  }
  .menu a{
  text-decoration: none;
  }
  
  .mnvu{
    
    color:white;
    font-size: 16px;
    padding: 18px;
    
    flex:1;
    font-family: 'lovelo' , sans-serif;
    text-align: center;
   margin: 0;
  }
  
  .mnvu:hover{
    text-shadow: 2px 2px 4px rgb(24, 22, 23);
    
    
  }
  
  .ikona{
    width:1rem;
    height:1rem;
  }
  .prati{
    color:#752e89;
    font-size: 11px;
    padding-right: 0rem;
    font-weight: 900;
    
  
    text-align: center;
   margin: 0;
  }
  
  .ikonice{
    height: 1rem;
    width: 1rem;
  }
  .ikonice img{
    max-width: 100%;
    max-height: 100%;
  }
  .box img{
  width: 4rem;
  height:4rem;
  }
  
  
  
  
  
  .mnvu, .panel, .panel a{
  font-weight: 500;
  text-shadow: 1px 1px 1px gray;
  }
  .mnvu2{
  font-weight: 900;
  }
  
  
  
  
  .menu3 {
  position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background-color:white;
    font-family: 'lovelo' , sans-serif;
    top:0;
    left:0;
    width:100%;
    max-width: 100%;
    margin:0;
     
    
  }
  .menu3 a{
  text-decoration: none;
  }
  
  .mnvu2{
    
    color:#752e89;
    font-size: 11px;
    padding: 10px;
    flex:1;
    
    text-align: center;
   margin: 0;
  }
  
  .mnvu2:hover{
    text-shadow: 0.1px 0.1px 0.2px rgb(24, 22, 23);
    
    
  }
  
  
  a{
  transition: all 0.5s ease-out;
  cursor: pointer;
  }
  
  
  
  
  
  
  
  
  
  .placement{
  width:2rem;
  }
  .placement2{
  width:5rem;
  }
  .prazno{
    width:14rem;
  }
  .placement5{
    width:13rem;
  }
  .prazno5{
    width: 15rem;
  }
  
  
  
  
  
  
  .logec{
  position: fixed;
  top: 0.5%;
  left: 0%;
  width: 12rem;
  height:12rem;
  z-index: 100000000000000000000000000000000000000000;
  }
  
  
  
  
  /*  dropdaun   */
  
  
  .dropdown {
  position: relative;
  display: inline-block;
  border-bottom:0.2rem #752e89 solid;
  
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
  display: none;
  position: absolute;
  left:-33rem;
  top:3.75rem;
  background-color: white;
  min-width: 160px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-shadow: none;
  font-family: 'SVN-gilroy', sans-serif;
  z-index: 1;
  
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 10px;
  padding-left: 20px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: white}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
  background-color: #3e8e41;
  }
  
  .slicice{
  width:3rem;
  height:3rem;
  padding-left: 1rem;
  padding-top: 1rem;
  }
  
  .slicice img{
  max-width: 100%;
  max-height: 100%;
  }
  
  .slicice2{
  width:3rem;
  height:3rem;
  padding-left: 1rem;
  padding-top: 1rem;
  }
  
  .slicice2 img{
  max-width: 100%;
  max-height: 100%;
  
  }
  
  .slicice3{
  width:3rem;
  height:3rem;
  padding-left: 1rem;
  padding-top: 1rem;
  }
  
  .slicice3 img{
  max-width: 100%;
  max-height: 100%; 
  }
  
  
  
  h3{
  color: black;
  
  text-align: left;
  font-size: 18px;
  margin: 0;
  padding: 10px 15px 10px 10px;
  
  }
  .kontenjer{
  border-right: 1px solid rgb(224, 223, 223);
  }
  .kontenjer2{
  border-right: 1px solid rgb(224, 223, 223);
  }
  .nes{
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  }