body{
    margin:0;
}
.menu {

    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background-color:#752e89;
    
    top:0;
    left:0;
    width:97%;
    margin-top:0;
    margin-left: 0;
    margin-right: 0;
    
  }
  .menu a, .menu2 a{
text-decoration: none;
  }
  .menu2 {

    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background-color:#752e89;
    top:0;
    left:0;
    position: fixed;
    opacity: 0;
    width: 97%;
    margin:0;
    z-index: 5000;
  }
  .menu2:hover{
    opacity: 1;
  }
  .mnvu{
    
    color:white;
    font-size: 21px;
    padding: 10px;
    flex:1;
    font-family: 'lovelo', serif;
   
  }
  
  .mnvu:hover{
    text-shadow: 2px 2px 5px rgb(24, 22, 23);
    font-size:24px;
    font-family: 'Alegreya' , sans-serif;
  }
  
  .ikona{
    width:12rem;
    height:6rem;
    
}
.box img{
width: 6rem;
height:6rem;
}
