body{
    margin:0;
    
    
    
}

.loger{
    position:absolute;
    top:0%;
    left:3%;
    background-color:#752e89;
    height: 6.1rem;
    width:6.1rem;
    z-index: 400000000000;
    display:none;
    

}
.loger img{
    max-width: 100%;
    max-height: 100%;
}

.spremnik{
    position: sticky;
    top:0rem;
    left:0;
    z-index:500000000;
}
.menu {

    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background-color:#752e89;
    max-width: 100%;
    
    width:100%;
    margin:0;
    border-bottom:2px #752e89 solid ;
    
    
  }
  .menu a{
text-decoration: none;
  }
  
  .mnvu{
    
    color:white;
    font-size: 18px;
    padding: 10px;
    flex:1;
    
    text-align: center;
   margin: 0;
  }
  
  .mnvu:hover{
    text-shadow: 2px 2px 4px rgb(24, 22, 23);
    font-size:18px;
    
  }
  
  .ikona{
    width:4rem;
    height:4rem;
}
.prati{
    color:#752e89;
    font-size: 11px;
    padding-right: 0rem;
    font-weight: 900;
    
  
    text-align: center;
   margin: 0;
}

.ikonice{
    height: 1rem;
    width: 1rem;
}
.ikonice img{
    max-width: 100%;
    max-height: 100%;
}
.box img{
width: 4rem;
height:4rem;
}





 .mnvu, .panel, .panel a{
  font-weight: 500;
  text-shadow: 1px 1px 1px gray;
}
.mnvu2{
  font-weight: 900;
}




.menu3 {

    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background-color:white;
    
    top:0;
    left:0;
    width:100%;
    max-width: 100%;
    margin:0;
     
    
  }
  .menu3 a{
text-decoration: none;
  }
  
  .mnvu2{
    
    color:#752e89;
    font-size: 11px;
    padding: 10px;
    flex:1;
    
    text-align: center;
   margin: 0;
  }
  
  .mnvu2:hover{
    text-shadow: 0.1px 0.1px 0.2px rgb(24, 22, 23);
    font-size:11px;
    
  }
  

a{
  transition: all 0.5s ease-out;
}









.placement{
  width:2rem;
}
.placement2{
width:5rem;
}
.prazno{
    width:8rem;
}
.placement5{
    width:13rem;
}
.prazno5{
    width: 15rem;
}




a{
  font-family: 'Alegreya' , sans-serif;
}

.logec{
  position: fixed;
  top: 0.5%;
  left: 0%;
  width: 12rem;
  height:12rem;
  z-index: 1000000000000000000;
}