

  img{
    max-width: 100%;
  }
  div.pozadina{
    display:  grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0%;
    padding-top: 0%;
    
  }
  


  .pred{
    padding-bottom: 1rem;
    padding-top: 1.2rem;
    border-bottom: 0.2rem white solid;
    max-height: 100%;
}

.sempltekt{
  font-size: 100px;
  color: #752e89;
}
.overlej{
position: relative;
top:1.05rem;
left:0;
margin-top:-90.75%;
width:80%;
height:97.5%;
background-color:rgba(117, 46, 137,0.5);
z-index: 2;
backdrop-filter: blur(3px);
}
.overlej a{
  text-decoration: none;
}
h1{ 
  padding-top:20%;
  padding-left:10%;
  opacity: 1;
  font-size: 4rem;
  color: aliceblue;
  text-shadow: 0.2rem 0.2rem 1rem black;
  z-index: 2;
  font-family: 'lovelo', sans-serif;
}
.onama{
  z-index: 2;
  padding-left: 10%;
  padding-right: 40%;
  color: rgba(255,255,255,1);
  font-size: 1.4rem;
  font-family: 'Alegreya', sans-serif;
  padding-bottom: 2rem;
}
.vise{
  color: white;
    
   font-size: 20px; 
   font-family: 'Alegreya', sans-serif; 
   padding-left: 2rem;
   padding-right: 2rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   border: 1px white solid;
    border-radius: 20px;
     margin-left: 4rem;
     margin-bottom: 5rem;
     
}
.vise:hover{
  background-color: white;
  color:#752e89;
}


.visina{
  height: 8%;
  max-height: 8%;
}

.logan{
  position: absolute;
  top: 0.5%;
  left: 0%;
  width: 12rem;
  height:12rem;
  z-index: 1000000000000000000;
}



body{
background-color: white;
margin:0;
overflow-x: hidden;
width: 100vw;
height: 100vh;
transition: all 0.5s ease-out;
}

.sadrzajnik{
  width:100%;
  height:100%;
  background-color: white;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.delovi{
  scroll-snap-align: start;
  width:100vw;
  height: 100vh;
  
  
}

.gridom{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: white;
  
 
}
.gridom img{
  max-height: 100%;
  max-width: 100%;
  
}
.broski{
  width:30vw;
  height: 30vh;
  padding-left: 5vw;
}
.broski2{
  width:30vw;
  height: 30vh;
  padding-bottom: 5vh;
  padding-left: 5vw;
}

.prijava{
  display: flex;

}
.prijslik{
width: 50vw;
height: 100vh;
background-image: url(../slike/zaprijave.jpg);

}
.prijslik img{
  object-fit: fill;
  
}
.naslov h4{
  padding-top: 12vh;
  padding-left: 13vw;
  font-size: 8rem;
  color: #752e89;
text-shadow: 10px 10px 30px grey;
font-family: 'lovelo', sans-serif;
text-decoration: none;
}
.naslov{
  background-color: white;
}
a{
  text-decoration: none;
}
