body{
background-color: beige;
margin:0;
}

  img{
    max-width: 100%;
  }
  div.pozadina{
    display:  grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0%;
    padding-top: 0%;
    
  }
  


  .pred{
    padding-bottom: 1rem;
    padding-top: 1.2rem;
    border-bottom: 0.2rem white solid;
    max-height: 100%;
}

.sempltekt{
  font-size: 100px;
  color: #752e89;
}
.overlej{
position: relative;
top:0;
left:0;
margin-top:-90.75%;
width:80%;
height:100%;
background-color:rgba(117, 46, 137,0.5);
z-index: 2;
}
.overlej a{
  text-decoration: none;
}
h1{ 
  padding-top:20%;
  padding-left:10%;
  opacity: 1;
  font-size: 4rem;
  color: aliceblue;
  text-shadow: 0.2rem 0.2rem 1rem black;
  z-index: 2;
  font-family: 'Open Sans Condensed', sans-serif;
}
.onama{
  z-index: 2;
  padding-left: 10%;
  padding-right: 40%;
  color: rgba(255,255,255,1);
  font-size: 1.4rem;
  font-family: 'Muli', sans-serif;
}
.vise{
  z-index: 2;
  margin-right: 65%;
  margin-top:5%;
  color: #752e89;
         font-weight: bold; 
         font-size: 22px; 
         font-family: Arial, Helvetica, sans-serif; 
         padding: 5px 12px; 
         background-color: white;
          border-radius: 5px;
           float: right;
           margin-bottom:2rem ;
           border:2px #752e89 solid;
}
.vise:hover{
  background-color:#752e89;
  color: aliceblue;
  border-color:aliceblue;
  border: 2px white solid;
}


.visina{
  height: 8%;
  max-height: 8%;
}