
.container{
display: grid;
grid-template-columns: 80rem;
margin-left:20%;
margin-right:20%;

}
.kartice{
    width:90%;
    
    border-radius: 0.5rem;

    font-size: 1rem;
    margin:0.5rem;
    box-shadow: 0.4rem 0.4rem 1rem grey;
    background-color: white;
    color: #752e89;
    display:flex;
}
.pred{
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-bottom: 0.2rem white solid;
}
p{
padding:1.2rem;
font-family: 'Alegreya' , sans-serif;
text-shadow: 0.05rem 0.05rem 0.1rem gray;

}

h2{
    color: black;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.5rem grey;
    font-family: 'Alegreya' , sans-serif;
    letter-spacing: 0.1rem;
    font-weight: bold;

}
.slikaa{
    align-self: center;
    border-radius: 16px;
    margin: 1rem;
    
}



