body {
  overflow-x: hidden;
}

.kartice {
  height: 45rem;

  font-size: 18px;
  margin-top: 0rem;

  background-color: white;
  color: #752e89;
  display: flex;
}
.pred {
  padding-bottom: 1.4rem;
  padding-top: 1.6rem;
  border-bottom: 0.2rem white solid;
}
p {
  color: #333;
  font-family: "Alegreya", sans-serif;
  margin-bottom: 15px;
  padding: 0.5rem;
  padding-left: 2rem;
  font-size: 18px;
}

h2 {
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 2rem;
  text-align: center;
}

h2 {
  font-family: "lovelo", sans-serif;
  font-size: 2rem;
  color: #333;
}
.slikaa {
  width: 60%;
  height: 60%;
}
.prof {
  color: #752e89;
}
.više {
  color: #752e89;
  margin-left: 2%;
  font-size: 20px;
  font-family: "Alegreya", sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px #752e89 solid;
  border-radius: 20px;
  float: right;
  margin-top: 1.5rem;
  text-decoration: none;
}
.više:hover {
  background-color: #752e89;
  color: white;
}
.text {
  margin-left: 3%;
}

.container {
  padding-top: 2rem;
}

@media only screen and (max-width: 1600px) {
  .kartice {
    display: block;

    padding-top: 15%;
    padding-bottom: 2%;
    width: auto;
    height: auto;
  }
  .container {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 0rem;
    width: auto;
    height: auto;
  }
  .slikaa,
  .slikaa2 {
    display: inline-block;
    padding: 0;
    margin-top: 2rem;
    width: 100vw;
    height: auto;
    float: none;
  }
  h2 {
    padding: 0rem;
  }
  .text p {
    padding: 1rem;
  }
  .više {
    margin-right: 1rem;
  }
  .kartice {
    padding-top: 5%;
  }
}
