body{
    overflow-x: hidden;
}

    .kartice{
        
        
        height:45rem;
    
        font-size: 18px;
        margin-top:0rem;
        
        background-color: white;
        color: #752e89;
        display:flex;
    }
    .pred{
        padding-bottom: 1.4rem;
        padding-top: 1.6rem;
        border-bottom: 0.2rem white solid;
    }
    p { 
        color: #333; 
        font-family: 'Muli', sans-serif; 
        margin-bottom: 15px;
        padding: 0.5rem;
        padding-left: 2rem;
     }
    
    h2 {
         padding-top:1rem;
         padding-left:2rem;
         padding-right: 2rem;
         }


h2 { font-family: 'Open Sans Condensed', sans-serif;
     font-size: 2.5rem;
      color: #333;

     }
    .slikaa{
        width: 90%;
        height: 90%;
        
        
        
    }
    .prof{
        color:#752e89 ;
    }
    .više{
        color: white;
         font-weight: bold; 
         font-size: 20px; 
         font-family: Arial, Helvetica, sans-serif; 
         padding: 5px 14px; 
         background-color: #752e89;
          border-radius: 5px;
           float: right;
           margin-top: 1.5rem;
    }
    .text{
        margin-left: 3%;
    }
    
    
    