html, body{
height:100%;

}
::-webkit-scrollbar {
    display: none;
}

#jedan{
width: 100%;
height:100%;
background-color: aqua;


}

#dva{
width: 100%;
height:100%;
background-color: blueviolet;

}

#tri{
width: 100%;
height:100%;
background-color: brown;



}

#cetri{
width: 100%;
height:100%;
background-color: black;

}

@keyframes gore{
    0%{
        background-color: red;
    }
    
    100%{
        transform:translateY(-100%);
        background-color: blue;
        
    } 
    
}
@keyframes dole{
    0%{
        background-color: blue;
    }
    
    100%{
        transform:translateY(100%);
        background-color: red;
        
    }
}
@keyframes sredinagore{
    0%{
        transform:translateY(-100%);
    }
    100%{
        transform:translateY(0%);
    }
}
@keyframes sredinadole{
    0%{
        transform:translateY(100%);
    }
    100%{
        transform:translateY(0%);
    }
}