body{
background-color: beige;
margin:0;
}
.menu {

    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background-color:#752e89;
    
    top:0;
    left:0;
    width:97%;
    margin-top:0;
    margin-left: 0;
    margin-right: 0;
  }
  .menu a, .menu2 a{
text-decoration: none;
  }
  .menu2 {

    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background-color:#752e89;
    top:0;
    left:0;
    position: fixed;
    opacity: 0;
    width: 97%;
    margin:0;
    z-index: 5000;
  }
  .menu2:hover{
    opacity: 1;
  }
  img{
    max-width: 100%;
  }
  div.pozadina{
    display:  grid;
    grid-template-columns: 1fr 1fr;
    
  }
  .mnvu{
    text-shadow: 2px 2px 5px pink;
    color:white;
    font-size: 21px;
    padding: 10px;
    flex:1;
  }
  .mnvu:nth-of-type(1){
      flex:2;
      font-size: 48px;
      padding-left: 30px;
      text-shadow: 2px 2px 5px pink;

  }
  .mnvu:hover{
    text-shadow: 2px 2px 5px rgb(24, 22, 23);
    font-size:21px;
  }
  .mnvu:nth-of-type(1):hover{
    flex:2;
    font-size: 48px;
    padding-left: 30px;
    background-color:#752e89;
    text-shadow: 2px 2px 5px pink;

}

.sempltekt{
  font-size: 100px;
  color: #752e89;
}
.overlej{
position: relative;
top:0;
left:0;
margin-top:-92.75%;
width:80%;
height:100%;
background-color:rgba(117, 46, 137,0.5);
}
.overlej a{
  text-decoration: none;
}
h1{ 
  padding-top:10%;
  padding-left:10%;
  opacity: 1;
  font-size: 5rem;
  color: aliceblue;
  text-shadow: 0.2rem 0.2rem 0.1rem black;
}
.onama{
  padding-left: 10%;
  padding-right: 30%;
  color: rgba(255,255,255,1);
  font-size: 2rem;
}
.vise{
  margin-left: 10%;
  background-color: aliceblue;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border:0.2rem #752e89 solid;
  color: #752e89;
}
.vise:hover{
  background-color:#752e89;
  color: aliceblue;
  border-color:aliceblue;
}